.anime-page li {
    margin-top: 2rem;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
  }
  
  .anime-page li h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }
  
  .anime-page li p {
    margin-top: 1.2rem;
  }