.page-home {
    text-align: center;
  }
  
  .page-home h1 {
    margin: 4rem 0rem 4rem;
  }
  
  .page-home p {
    margin-bottom: 1.2rem;
  }
  
  .page-home li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
  }
  
  .page-home .img-wrapper {
    margin-top: 1.2rem;
  }