@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("/img/background.gif");
  color: rgb(255, 255, 255);
}

.text-info {
  margin: 1rem 1rem 1rem;
  padding: 2rem;
  background-color: rgba(188, 12, 241, 0.507);
  font-size: 1.1rem;
  border-radius: 1rem;
}

.bg-color-lblue {
  background-color: rgba(64, 111, 155, 0.555);
}

.bg-color-red {
  background-color: rgba(240, 27, 27, 0.438);
  color: aliceblue;
}

.bg-color-orange {
  background-color: rgba(255, 136, 0, 0.822);
  color: rgb(255, 255, 255);
}

.bg-color-yellow {
  background-color: rgba(255, 255, 5, 0.63);
  color: black;
}

.bg-color-blue {
  background-color: rgba(35, 35, 214, 0.589);
}

.bg-color-pink {
  background-color: rgba(226, 19, 192, 0.548);
}

.bg-color-green {
  background-color: rgba(11, 250, 2, 0.493);
  
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

img {
  width: 100%;
  border-radius: 0.5rem;
}

header {
  text-align: center;
  padding: 2.3rem 0rem;
  background-color: rgba(18, 133, 209, 0.452);
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header ul li + li {
  margin-left: 1.4rem;
}

.nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.5rem;
  transition: background-color 0.6s;
  border-radius: 0.5rem;
  font-size: 2rem;


}

.nav-link:hover {
  background-color: rgb(36, 120, 230);

  
}

.active {
  border: 2px solid white;
  background-color: rgb(25, 97, 179);
}

/*------------- PAGE HOME -------------- */
.page-home {
  text-align: center;
}

.page-home h1 {
  margin: 1.2rem 0rem;
}

.page-home p {
  margin-bottom: 1.2rem;
}

.page-home li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}

.page-home .img-wrapper {
  margin-top: 1.2rem;
}

/*--------------- ABOUT-PAGE -------------------*/

.about-page h1 {
  margin: 2rem 0rem;
  text-align: center;
}

.about-page .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-page .info .text {
  width: 50%;
}

.about-page .info p {
  font-size: 14px;
}

.about-page .info .img-wrapper {
  width: 45%;
  margin-right: 0.8rem;
}

.about-page ul {
  width: 100%;
  margin-top: 1rem;
  margin-left: 1rem;
}

.about-page .info + .info {
  margin-top: 2rem;
  border-top: 5px dotted rgb(245, 245, 245);
  padding-top: 2rem;
}

.dinheiro {
  text-align: center;
}

/* -------------PHOTO-PAGE------------------- */

.photo-page ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1rem;
}

.photo-page .link-ref {
  text-align: center;
}


/* ------------------ANIME-PAGE------------------------ */

.anime-page li {
  margin-top: 2rem;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
}

.anime-page li h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.anime-page li p {
  margin-top: 1.2rem;
}
/* ----------------VIDEO-PAGE---------------- */

.video-page h1 {
  text-align: center;
  margin: 2rem 0rem 2rem;
}

.video-page h2 {
  text-align: center;
  margin: 1rem 0rem 1rem;
}